@media (max-width:992px){ 
  main{
    width: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .content{
    width: 100%;
    align-items: center;
    margin-bottom: 10%;    
  }

  .text, .techs{
    text-align: center;
  }

  .text p{
    width: 100%;
    font-size: 1em;
  }

  .cards-container, .text p{
    margin-top: 80px;
  }
}

@media (max-width:768px){
  header{
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }
  header h1{
    font-size: 1.2em;
  }

  header nav{
    font-size: 1em;
    margin-top: 10px ;
  }

  header nav a{
    font-size: 15px;
  }

  .card{
    width: 60px;
    height: 60px;
  }

  .text h2, .techs h2{
    font-size: 1.6em;
  }
  
  figure img{
    width: 100px;
    height: 100px;
  }
}